#h1
{
	font-family: comic;
	font-size: 40px;
	color:#DE3363;
}
#h2
{
	font-family: comic;
	font-size: 20px;
	
}
body
{
	background-image:url("w2.jpg");
}
#a
{
	text-decoration: none;
	color:white;
}
#w
{
	font-size:20px;
	font-family:verdana; 
}
#p1
{
	font-size:30px;
	alignment-baseline: left;
}